@import './../../_variables'

.highlights
  padding: 2rem

.heading
  @include section-title
  margin-bottom: 2rem

.button
  background-color: $secondary-color-1
  border: none
  padding: 0.5rem 1rem
  color: $highlight-color-1
  font-weight: $bold
  cursor: pointer
  transition: background-color 0.3s
  margin-bottom: 2rem

  &:hover
    background-color: $secondary-color-2

  &:active
    background-color: $active-color

.cards
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 1.5rem

  .card
    background-color: $highlight-color-1
    padding: 1rem
    border-radius: 5px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

    &-image
      height: 200px
      width: auto
      object-fit: cover
      border-radius: 5px
