@import './../../_variables'

.highlights
  padding: 2rem 5rem

  &-wrapper
    background-color: $section-background-highlights
    width: 100%

.heading
  @include section-title
  margin-bottom: 2rem
  display: flex
  justify-content: space-between
  align-items: center

  @import './../../_variables'

.highlights
  // ... (existing styles)

.heading
  // ... (existing styles)

.button
  background-color: $secondary-color-1
  border: 2px solid transparent // Add a transparent border to prevent layout shifts
  padding: 0.8rem 2rem
  border-radius: 16px
  color: $highlight-color-1
  font-weight: $bold
  cursor: pointer
  transition: background-color 0.3s, transform 0.3s, color 0.3s, border-color 0.3s

  &:hover
    background-color: darken($secondary-color-1, 5%) // Darken the background color on hover
    border-color: $highlight-color-1 // Add a border on hover

  &:active
    background-color: $active-color
    color: $text-color-light // Change text color on click

.cards
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 1.5rem

  .card
    background-color: $highlight-color-1
    padding: 1rem
    border-radius: 16px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    display: flex
    flex-direction: column

    &:hover
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)

    &-image
      height: 200px
      width: 100%
      object-fit: cover
      border-radius: 16px
      margin-bottom: 1rem

    &-box
      display: flex

    &-name
      display: inline-block
      font-weight: $bold
      margin-right: auto

    &-price
      display: inline-block
      font-weight: $bold

    &-description
      flex-grow: 1
      margin-top: 0.5rem

    &-link
      display: inline-block
      color: $secondary-color-1
      text-decoration: none
      font-weight: $bold
      margin-top: 0.5rem

      &:hover
        color: $active-color
