@import './../../_variables'

.hero
  &-wrapper
    background-color: $section-background-hero
    width: 100%

  &-section
    display: flex
    justify-content: space-between
    padding: 3rem 5rem

  &-content
    h1
      @include display-title
      margin-bottom: 1rem

    p
      @include lead-text
      margin-bottom: 2rem

  &-image
    width: auto
    height: 500px
    border-radius: 16px

  &-button
    background-color: $primary-color-1
    border: none
    border-radius: 16px
    padding: 0.8rem 2rem // Updated padding for a better button design
    color: $highlight-color-1
    font-weight: $bold
    cursor: pointer
    transition: background-color 0.3s

    &:hover
      background-color: $secondary-color-1 // Use the orange color for hover effect, as it is more visible on the light background

    &:active
      background-color: $active-color // Use the updated active color
