@import './../../_variables'

.hero
  &-wrapper
    background-color: $section-background-hero
    width: 100%

  &-section
    display: flex
    justify-content: space-between
    padding: 3rem 5rem
    gap: 2rem

  &-content
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: flex-start
    padding: 0 2rem
    h1
      @include display-title
      margin-top: 0
      margin-bottom: 1rem

    p
      @include lead-text
      margin-bottom: 2rem
      text-align: justify

  &-image
    width: auto
    height: 500px
    border-radius: 16px

  &-button
    background-color: $primary-color-1
    border: 2px solid transparent // Add a transparent border to prevent layout shifts
    border-radius: 16px
    padding: 0.8rem 2rem
    color: $highlight-color-1
    font-weight: $bold
    cursor: pointer
    transition: background-color 0.3s, transform 0.3s, color 0.3s, border-color 0.3s // Add border-color transition

    &:hover
      background-color: darken($primary-color-1, 5%)
      border-color: $highlight-color-1 // Add a border on hover

    &:active
      background-color: $active-color
      color: $text-color-light // Change text color on click
