@import './../../_variables'

.about
  display: flex
  padding: 2rem
  justify-content: space-between
  height: 400px

  &-text
    flex-basis: 45%

  &-images
    flex-basis: 45%
    position: relative

  &-image
    position: absolute
    top: 10%
    width: 200px
    height: 300px
    object-fit: cover
    object-position: -200px 0px
    z-index: 1

    &:nth-child(2)
      top: -10%
      left: 65%
      z-index: 2

.heading
  font-size: 1.5rem
  color: $primary-color-1
  margin-bottom: 1rem

  p
    font-size: 1rem
    color: $highlight-color-2
    line-height: 1.5
