@import './../../_variables'

.footer
  display: flex
  justify-content: space-between
  align-items: flex-start
  padding: 2rem 5rem
  color: $highlight-color-1

  &-wrapper
    background-color: $section-background-footer
    width: 100%
    border-radius: 0 0 16px 16px

.logo
  img
    width: 150px
    height: auto

.doormatNav, .contact, .socialMediaLinks
  h3
    @include section-category
    font-weight: $bold
    margin-bottom: 1rem

  ul
    list-style-type: none
    padding: 0
    display: flex
    flex-direction: column
    align-items: start

  li
    margin-bottom: 0.5rem

  a
    color: $highlight-color-1
    text-decoration: none
    font-family: $karla
    font-size: $paragraph-text-font-size
    font-weight: $regular
    transition: color 0.2s ease-in-out

    &:hover
      color: $active-color
