// Colors
$primary-color-1: #495E57
$primary-color-2: #F4CE14
$secondary-color-1: #EE9922
$secondary-color-2: #FBDABB
$highlight-color-1: #EDEFEE
$highlight-color-2: #333333
$active-color: #F49C14
$text-color-light: #4A4A4A

$section-background-header: $primary-color-1 // Dark green for contrast with other sections
$section-background-hero: $highlight-color-1 // Light grayish background for a clean, minimalistic look
$section-background-highlights: $secondary-color-2 // Light peach color for a soft, inviting look
$section-background-testimonials: $highlight-color-1 // Light grayish background for consistency with the hero section
$section-background-about: $secondary-color-1 // Orange shade for a warm and engaging atmosphere
$section-background-about-soft: lighten($active-color, 30%) // Soft Orange
$section-background-footer: $primary-color-1 // Dark green to match the header and create a visual frame for the website

// Fonts
$markazi-text: 'Markazi Text', serif
$karla: 'Karla', sans-serif

// Font Sizes
$display-title-font-size: 64pt
$subtitle-font-size: 40pt
$lead-text-font-size: 18pt
$section-title-font-size: 20pt
$section-category-font-size: 16pt
$card-title-font-size: 18pt
$paragraph-text-font-size: 16pt
$highlight-text-font-size: 16pt

// Font Weights
$extra-bold: 800
$bold: 700
$medium: 500
$regular: 400

// Mixins
@mixin display-title
  font-family: $markazi-text
  font-size: 64pt
  font-weight: $medium

@mixin subtitle
  font-family: $markazi-text
  font-size: 40pt
  font-weight: $regular

@mixin lead-text
  font-family: $karla
  font-size: 18pt
  font-weight: $medium

@mixin section-title
  font-family: $karla
  font-size: 20pt
  font-weight: $extra-bold
  text-transform: uppercase

@mixin section-category
  font-family: $karla
  font-size: 16pt
  font-weight: $extra-bold

@mixin card-title
  font-family: $karla
  font-size: 18pt
  font-weight: $bold

@mixin paragraph-text
  font-family: $karla
  font-size: 16pt
  font-weight: $regular
  line-height: 1.5
  max-width: 65ch

@mixin highlight-text
  font-family: $karla
  font-size: 16pt
  font-weight: $medium
