// $img-path: './../../../public/img'

$primary-color-1: #495E57
$primary-color-2: #F4CE14
$secondary-color-1: #EE9922
$secondary-color-2: #FBDABB
$highlight-color-1: #EDEFEE
$highlight-color-2: #333333
$active-color: red

// Fonts
$markazi-text: 'Markazi Text', serif
$karla: 'Karla', sans-serif

// Base font size
$base-font-size: 20pt
