@import './../../_variables'

nav
  ul
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
    align-items: center

    li
      margin: 0 0.5rem

      a
        @include paragraph-text
        font-weight: $bold
        text-decoration: none
        color: $highlight-color-1 // Use the lighter color for better contrast
        transition: color 0.3s

        &:hover
          color: $primary-color-2 // Use the yellow color for hover effect to match the new active color
